<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yimei.activity"
    android:versionCode="1"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 查看wifi权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.yimei.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/mes_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 软件安装覆盖 -->
        <!--
        <receiver android:name=".AppInstallReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" /> 
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        -->
        <!-- 测试 -->
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 通用页面 -->
        <activity
            android:name=".TongYongActivity"
            android:label="@string/main_tongyong" >
        </activity>
         <!-- 固晶页面 -->
        <activity
            android:name=".GuJingActivity"
            android:label="@string/main_gujin" >
        </activity>
        <!-- 焊线页面 -->
        <activity
            android:name=".HanXianActivity"
            android:label="@string/main_hanxian" >
        </activity>
        <!-- 编带页面 -->
        <activity
            android:name=".BianDaiActivity"
            android:label="@string/main_biandai" >
        </activity>
        <!-- 烤箱页面 -->
        <activity
            android:name=".KaoXiangActivity"
            android:label="@string/main_kaoxiang" >
        </activity>
        <!-- 主页面 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/mainTitle" >
        </activity>
        <!-- 加载页面 -->
        <activity
            android:name=".LoadingActivity"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <!-- 服务器出错 -->
        <activity android:name=".ServerError" >
        </activity>
        <!-- 上料页面 -->
        <activity
            android:name=".ShangLiaoActivity"
            android:label="@string/shangliaoTitle" >
        </activity>
        <!-- 加胶页面 -->
        <activity
            android:name=".JiaJiaoActivity"
            android:label="@string/jiajiaoTitle" >
        </activity>
        <!-- 模组页面 -->
        <activity
            android:name=".MoZuActivity"
            android:label="@string/mozuTitle" >
        </activity>
        <!-- 入库页面 -->
        <activity
            android:name=".RuKuActivity"
            android:label="@string/rukuTitle" >
        </activity>
        <!-- 装箱作业页面 -->
        <activity
            android:name=".ZhuangXiangActivity"
            android:label="@string/zhuangxiangTitle" >
        </activity>
         <!-- 混胶登记页面 -->
        <activity
            android:name=".HunJiaoActivity"
            android:label="@string/hunjiaoTitle" >
        </activity>
         <!-- 制具领出页面 -->
        <activity
            android:name=".ZhiJuLingChuActivity"
            android:label="@string/zhijulingchuTitle" >
        </activity>
         <!-- 制具清洗页面 -->
        <activity
            android:name=".ZhiJuQingXiActivity"
            android:label="@string/zhijuQingXiTitle" >
        </activity>
        <!-- 制具入库页面 -->
        <activity
            android:name=".ZhiJuRukKuActivity"
            android:label="@string/zhijuRuKuTitle" >
        </activity>
        <!-- 加锡膏页面 -->
        <activity
            android:name=".JiaXiGaoActivity"
            android:label="@string/jiaxigaoTitle" >
        </activity>
        <!-- 生产发料页面 -->
        <activity
            android:name=".SCFLActivity"
            android:label="@string/scflTitle" >
        </activity>
         <!-- 转出-->
        <activity
            android:name=".ZhuanChuActivity"
            android:label="@string/zhuanchuTitle" >
        </activity>
         <!-- 接收 -->
        <activity
            android:name=".JieShouActivity"
            android:label="@string/JieShouTitle" >
        </activity>
    </application>

    <!-- 单元测试 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Test for my Test"
        android:targetPackage="com.yimei.activity" />

</manifest>